

body {

  margin: 0;

  padding: 0;

  voice-family: "\"}\"";

  voice-family: inherit;

  font-family: 'Hind', sans-serif;

  font-size: 18px;

  color: #3e3e3e;

  background-color: #fff;

  font-weight: 400;

  -webkit-text-size-adjust: none;

  -webkit-overflow-scrolling: touch;

}



/* Comman Classes */



a, img, span {

  border: 0;

  margin: 0;

  padding: 0;

}



img {

  line-height: 0;

}



li {

  display: list-item;

  border: 0;

  margin: 0;

  padding: 0;

}



.clear {

  clear: both;

}



* {

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

}



*:before, *:after {

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

}



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

  display: block;

  padding: 0;

  margin: 0;

}



p {

  font-size: 18px;

  color: #3e3e3e;

}



h1 {

  margin: 0;

  padding: 0 0 12px 0;

  font-family: 'Hind', sans-serif;

  color: #000;

  font-size: 22px;

  font-weight: normal;

}



h2 {

  margin: 0;

  padding: 0 0 12px 0;

  font-family: 'Hind', sans-serif;

  color: #000;

  font-size: 20px;

  font-weight: normal;

}



h3 {

  margin: 0;

  padding: 0 0 12px 0;

  font-family: 'Hind', sans-serif;

  color: #000;

  font-size: 18px;

  font-weight: normal;

}



h4 {

  margin: 0;

  padding: 0 0 12px 0;

  font-family: 'Hind', sans-serif;

  color: #000;

  font-size: 16px;

  font-weight: normal;

}



h5 {

  margin: 0;

  padding: 0 0 12px 0;

  font-family: 'Hind', sans-serif;

  color: #000;

  font-size: 16px;

  font-weight: normal;

}



h6 {

  margin: 0;

  padding: 0 0 12px 0;

  font-family: 'Hind', sans-serif;

  color: #000;

  font-size: 14px;

  font-weight: normal;

}



.center-text {

  text-align: center !important;

}



.banner .wrappen {

  overflow-y: hidden !important;

}



/*===============

	Header

===============*/



header {

  width: 100%;

  height: 80px;

  float: left;

  margin: 0;

  padding: 0;

  background: #fff;

  position: relative;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);

}



header:before {

  content: '';

  width: 60%;

  position: absolute;

  right: 0;

  top: 0;

  border: 40px solid;

  border-color: #0572aa #0572aa #0572aa transparent;

}



.header_inner {

  width: 100%;

  float: left;

  margin: 0;

  padding: 0;

  position: relative;

  z-index: 1;

}



a.logo {

  width: 260px;

  height: auto;

  float: left;

  margin: 21px 0 0 -15px;

  padding: 0;

  transition: all 0.7s ease-in-out 0s;

}



a.logo img {

  max-width: 100%;

  height: auto;

  display: block;

}



.head_right {

  float: right;

  margin: 22px 0 0 0;

  padding: 0 0 0 64px;

  background: url(../images/icon_phone.png) left top no-repeat;

  color: #fff;

  font-size: 40px;

  font-weight: 700;

  line-height: 40px;

}



.head_right span {

  font-size: 20px;

  font-weight: 400;

  position: relative;

  top: -8px;

}



.head_right a {

  color: #fff;

  text-decoration: none;

}



/*===============

	Banner

===============*/



.banner {

  width: 100%;

  float: left;

  margin: 0;

  padding: 50px 0 100px 0;

  box-shadow: inset 0 0 300px rgba(0, 0, 0, 0.20);

  transition: all 0.7s ease-in-out 0s;

}



.banner .wrappen {

  position: relative;

  overflow: hidden;

  min-height: 470px;

}

.wrappen2 {

  position: relative;

  overflow: hidden;

  min-height: 470px;

}



.b_stap {

  width: 100%;

  margin: 0;

  padding: 0;

  position: absolute;

  z-index: 4;

  top: 0;

  left: 100%;

  transition: all 0.7s ease-in-out 0s;

}



.b_stap1 {

  width: 100%;

  float: left;

  position: relative;

  margin: 0;

  padding: 0;

  z-index: 1;

}



.b_stap2 {

  z-index: 2;

}



.b_stap3 {

  z-index: 3;

}



.stap_opan {

  top: 0;

  left: 0%;

}



.stap_hide {

  display: none;

  left: -100%;

}



.banner h1 {

  width: 100%;

  float: left;

  margin: 0 0 35px;

  padding: 0 0 12px 0;

  font-family: 'Hind', sans-serif;

  color: #3e3e3e;

  font-size: 36px;

  font-weight: 400;

  text-align: center;

  position: relative;

}



.banner h1:after {

  width: 100px;

  height: 5px;

  content: '';

  position: absolute;

  left: 50%;

  bottom: 0;

  background: #0572aa;

  margin-left: -50px;

}



.banner h1 strong {

  font-weight: 700;

}



.banner h5 {

  width: 100%;

  float: left;

  margin: 0;

  padding: 0 0 12px 0;

  font-family: 'Hind', sans-serif;

  color: #3e3e3e;

  font-size: 28px;

  font-weight: 500;

  text-align: center;

}



.loan_t {

  width: 360px;

  padding: 0;

  margin: 0 auto;

  position: relative;

  top: 60px;

}



.loan_t .radiao1 {

  width: 176px;

  height: 176px;

  float: left;

}



.loan_t .radiao1 input[type='radio'] {

  opacity: 0;

  float: left;

  width: 18px;

}



.loan_t .radiao1 input[type='radio']+label {

  margin: 0;

  clear: none;

  padding: 75px 88px;

  cursor: pointer;

  background: url(../images/icon_home_dark.png);

}



.loan_t .radiao1 input[type='radio']:checked+label {

  background: url(../images/icon_home_red.png);

}



.loan_t .radiao2 {

  width: 176px;

  height: 176px;

  float: left;

}



.loan_t .radiao2 input[type='radio'] {

  opacity: 0;

  float: left;

  width: 18px;

}



.loan_t .radiao2 input[type='radio']+label {

  margin: 0;

  clear: none;

  padding: 75px 88px;

  cursor: pointer;

  background: url(../images/icon_sale_dark.png);

}



.loan_t .radiao2 input[type='radio']:checked+label {

  background: url(../images/icon_sale_red.png);

}



.rd_name {

  width: 100%;

  float: left;

  margin: 0;

  padding: 0;

  position: relative;

  text-align: center;

  top: 65px;

  font-size: 16px;

}



.next_btn {

  float: left;

  height: 35px;

  margin: 0 0 0 -80px;

  padding: 3px 50px 0 30px;

  background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

  font-size: 30px;

  color: #fff;

  font-weight: 600;

  border: none;

  border-radius: 30px;

  position: relative;

  text-align: left;

  font-family: 'Hind', sans-serif;

  top: -20px;

  left: 50%;

}



.next_btn:hover {

  background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

  cursor: pointer;

}



.slie_btn {

  width: 100%;

  float: left;

  height: 35px;

  line-height: 35px;

  margin: 0 0 10px 0;

  padding: 0 20px;

  background: #0572aa url(../images/arrow_2.png) 95% center no-repeat;

  font-size: 24px;

  color: #fff;

  font-weight: 400;

  border: none;

  border-radius: 3px;

  position: relative;

  text-align: center;

  font-family: 'Hind', sans-serif;

  top: 0;

  left: 0%;

}



.slie_btn:hover {

  background: #3e3e3e url(../images/arrow_2.png) 95% center no-repeat;

  cursor: pointer;

}



.loan_t2 {

  width: 320px;

  padding: 0;

  margin: 0 auto;

  position: relative;

  top: 0;

}



.loan_t2 .radiao1 {

  width: 176px;

  height: 176px;

  float: left;

}



.loan_t2 .radiao1 input[type='radio'] {

  opacity: 0;

  float: left;

  width: 18px;

}



.loan_t2 .radiao1 input[type='radio']+label {

  margin: 0;

  clear: none;

  padding: 75px 88px;

  cursor: pointer;

  background: url(../images/icon_home_dark.png);

}



.loan_t2 .radiao1 input[type='radio']:checked+label {

  background: url(../images/icon_home_red.png);

}



.loan_t2 .radiao2 {

  width: 176px;

  height: 176px;

  float: left;

}



.loan_t2 .radiao2 input[type='radio'] {

  opacity: 0;

  float: left;

  width: 18px;

}



.loan_t2 .radiao2 input[type='radio']+label {

  margin: 0;

  clear: none;

  padding: 75px 88px;

  cursor: pointer;

  background: url(../images/icon_sale_dark.png);

}



.loan_t2 .radiao2 input[type='radio']:checked+label {

  background: url(../images/icon_sale_red.png);

}



.loan_t2 .radiao3 {

  width: 176px;

  height: 176px;

  float: left;

}



.loan_t2 .radiao3 input[type='radio'] {

  opacity: 0;

  float: left;

  width: 18px;

}



.loan_t2 .radiao3 input[type='radio']+label {

  margin: 0;

  clear: none;

  padding: 75px 88px;

  cursor: pointer;

  background: url(../images/icon_sale_dark.png);

}



.loan_t2 .radiao3 input[type='radio']:checked+label {

  background: url(../images/icon_sale_red.png);

}



.loan_t2 .radiao4 {

  width: 176px;

  height: 176px;

  float: left;

}



.loan_t2 .radiao4 input[type='radio'] {

  opacity: 0;

  float: left;

  width: 18px;

}



.loan_t2 .radiao4 input[type='radio']+label {

  margin: 0;

  clear: none;

  padding: 75px 88px;

  cursor: pointer;

  background: url(../images/icon_sale_dark.png);

}



.loan_t2 .radiao4 input[type='radio']:checked+label {

  background: url(../images/icon_sale_red.png);

}



.loan_t2 .radiao5 {

  width: 176px;

  height: 176px;

  float: left;

}



.loan_t2 .radiao5 input[type='radio'] {

  opacity: 0;

  float: left;

  width: 18px;

}



.loan_t2 .radiao5 input[type='radio']+label {

  margin: 0;

  clear: none;

  padding: 75px 88px;

  cursor: pointer;

  background: url(../images/icon_sale_dark.png);

}



.loan_t2 .radiao5 input[type='radio']:checked+label {

  background: url(../images/icon_sale_red.png);

}



.loan_t3 {

  width: 320px;

  padding: 0;

  margin: 0 auto;

  position: relative;

  top: 0;

}



.loan_t3 .radiao6 {

  width: 176px;

  height: 176px;

  float: left;

}



.loan_t3 .radiao6 input[type='radio'] {

  opacity: 0;

  float: left;

  width: 18px;

}



.loan_t3 .radiao6 input[type='radio']+label {

  margin: 0;

  clear: none;

  padding: 75px 88px;

  cursor: pointer;

  background: url(../images/icon_home_dark.png);

}



.loan_t3 .radiao6 input[type='radio']:checked+label {

  background: url(../images/icon_home_red.png);

}



.loan_t3 .radiao7 {

  width: 176px;

  height: 176px;

  float: left;

}



.loan_t3 .radiao7 input[type='radio'] {

  opacity: 0;

  float: left;

  width: 18px;

}



.loan_t3 .radiao7 input[type='radio']+label {

  margin: 0;

  clear: none;

  padding: 75px 88px;

  cursor: pointer;

  background: url(../images/icon_sale_dark.png);

}



.loan_t3 .radiao7 input[type='radio']:checked+label {

  background: url(../images/icon_sale_red.png);

}



.loan_t3 .radiao8 {

  width: 176px;

  height: 176px;

  float: left;

}



.loan_t3 .radiao8 input[type='radio'] {

  opacity: 0;

  float: left;

  width: 18px;

}



.loan_t3 .radiao8 input[type='radio']+label {

  margin: 0;

  clear: none;

  padding: 75px 88px;

  cursor: pointer;

  background: url(../images/icon_sale_dark.png);

}



.loan_t3 .radiao8 input[type='radio']:checked+label {

  background: url(../images/icon_sale_red.png);

}



.loan_t4 {

  width: 400px;

  padding: 0;

  margin: 0 auto;

  position: relative;

  top: 60px;

}



.step_input {

  width: 100%;

  float: left;

  margin: 0 0 50px;

  padding: 0;

  border: 1px solid #ddd;

  border-radius: 4px;

  height: 50px;

  line-height: 50px;

  background: #fff;

  font-size: 20px;

  text-align: center;

}



.loan_t5 {

  width: 400px;

  padding: 0;

  margin: 0 auto;

  position: relative;

  top: 60px;

}



.loan_t5 .slidecontainer {

  width: 100%;

}



.loan_t5 .slider {

  -webkit-appearance: none;

  appearance: none;

  width: 100%;

  height: 100%;

  border-radius: 5px;

  background: none;

  outline: none;

  opacity: 1;

  -webkit-transition: .2s;

  transition: opacity .2s;

  border: 0 solid #0572aa;

  outline: none;

}



.loan_t5 .slider:hover {

  opacity: 1;

}



.loan_t5 .slider::-webkit-slider-thumb {

  -webkit-appearance: none;

  appearance: none;

  width: 25px;

  height: 25px;

  border-radius: 50%;

  background: #4CAF50;

  cursor: pointer;

}



.loan_t5 .slider::-moz-range-thumb {

  width: 25px;

  height: 25px;

  border-radius: 50%;

  background: #0572aa;

  cursor: pointer;

  border: none;

}



.loan_t5 .slidecontainer p {

  margin: 0;

  font-size: 30px;

}



.loan_t5 .slidecontainer .rt_price {

  float: right;

}



.next_btn2 {

  float: left;

  height: 35px;

  margin: 0 0 0 -80px;

  padding: 3px 50px 0 30px;

  background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

  font-size: 30px;

  color: #fff;

  font-weight: 600;

  border: none;

  border-radius: 30px;

  position: relative;

  text-align: left;

  font-family: 'Hind', sans-serif;

  top: 10px;

  left: 50%;

}



.next_btn2:hover {

  background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

  cursor: pointer;

}



.next_btn3 {

  float: left;

  height: 50px;

  margin: 0 0 0 -80px;

  padding: 3px 50px 0 30px;

  background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

  font-size: 30px;

  color: #fff;

  font-weight: 600;

  border: none;

  border-radius: 30px;

  position: relative;

  text-align: left;

  font-family: 'Hind', sans-serif;

  top: 10px;

  left: 50%;

}



.next_btn3:hover {

  background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

  cursor: pointer;

}



.next_btn4 {

  float: left;

  height: 50px;

  margin: 0 0 0 -80px;

  padding: 3px 50px 0 30px;

  background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

  font-size: 30px;

  color: #fff;

  font-weight: 600;

  border: none;

  border-radius: 30px;

  position: relative;

  text-align: left;

  font-family: 'Hind', sans-serif;

  top: -20px;

  left: 50%;

}



.next_btn4:hover {

  background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

  cursor: pointer;

}



.next_btn5 {

  float: left;

  height: 50px;

  margin: 0 0 0 -80px;

  padding: 3px 50px 0 30px;

  background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

  font-size: 30px;

  color: #fff;

  font-weight: 600;

  border: none;

  border-radius: 30px;

  position: relative;

  text-align: left;

  font-family: 'Hind', sans-serif;

  top: 10px;

  left: 50%;

}



.next_btn5:hover {

  background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

  cursor: pointer;

}



.next_btn6 {

  float: left;

  height: 50px;

  margin: 0 0 0 -80px;

  padding: 3px 50px 0 30px;

  background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

  font-size: 30px;

  color: #fff;

  font-weight: 600;

  border: none;

  border-radius: 30px;

  position: relative;

  text-align: left;

  font-family: 'Hind', sans-serif;

  top: 10px;

  left: 50%;

}



.next_btn6:hover {

  background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

  cursor: pointer;

}



.next_btn7 {

  float: left;

  height: 50px;

  margin: 0 0 0 -80px;

  padding: 3px 50px 0 30px;

  background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

  font-size: 30px;

  color: #fff;

  font-weight: 600;

  border: none;

  border-radius: 30px;

  position: relative;

  text-align: left;

  font-family: 'Hind', sans-serif;

  top: 10px;

  left: 50%;

}



.next_btn7:hover {

  background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

  cursor: pointer;

}



.multiselect-btn{

  top: 105px;

}



.next_btn8 {

  float: left;

  height: 50px;

  margin: 0 0 0 -80px;

  padding: 3px 50px 0 30px;

  background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

  font-size: 30px;

  color: #fff;

  font-weight: 600;

  border: none;

  border-radius: 30px;

  position: relative;

  text-align: left;

  font-family: 'Hind', sans-serif;

  top: 10px;

  left: 50%;

}



.next_btn8:hover {

  background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

  cursor: pointer;

}



.next_btn9 {

  float: left;

  height: 50px;

  margin: 0 0 0 -80px;

  padding: 3px 50px 0 30px;

  background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

  font-size: 30px;

  color: #fff;

  font-weight: 600;

  border: none;

  border-radius: 30px;

  position: relative;

  text-align: left;

  font-family: 'Hind', sans-serif;

  top: 10px;

  left: 50%;

}



.next_btn9:hover {

  background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

  cursor: pointer;

}



.next_btn10 {

  float: left;

  height: 50px;

  margin: 0 0 0 -80px;

  padding: 3px 50px 0 30px;

  background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

  font-size: 30px;

  color: #fff;

  font-weight: 600;

  border: none;

  border-radius: 30px;

  position: relative;

  text-align: left;

  font-family: 'Hind', sans-serif;

  top: 10px;

  left: 50%;

}



.next_btn10:hover {

  background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

  cursor: pointer;

}



.img_div {

  display: none;

  width: 100%;

  float: left;

  margin: 0;

  padding: 0

}



.img_div img {

  width: 100%;

  height: auto;

}



.green {

  color: #0FC907 !important;

  margin-bottom: 20px !important;

}



/*===============

	Countener

===============*/



section {

  width: 100%;

  float: left;

  margin: 0;

  padding: 0;

}



.wrappen {

  width: 1170px;

  margin: 0 auto;

  padding: 0;

}



.p_lt_90 {

  padding-left: 90px !important;

  padding-right: 90px !important;

}



.red_get {

  padding: 20px 0;

  background: #0572aa;

  text-align: center;

  font-size: 52px;

  font-weight: 700;

  color: #fff;

}



.mid_part {

  margin: 0;

  padding: 0;

}



.img_outer {

  max-width: 1366px;

  margin: 0 auto;

  background-size: auto 100% !important;

}



.p_lt_90 {

  padding-left: 0 !important;

  padding-right: 0 !important;

}



.left_detail {

  width: 600px;

  float: left;

  margin: 0;

  padding: 40px 0;

}



.left_detail .borrow_up {

  width: 50%;

  float: left;

  margin: 0;

  padding: 0;

}



.left_detail .borrow_up .borrow_img {

  width: 93px;

  height: 93px;

  float: left;

  background: #6d6f71;

  border-radius: 50%;

  text-align: center;

  line-height: 93px;

}



.left_detail .borrow_up .borrow_img img {

  vertical-align: middle;

}



.left_detail .borrow_up .borrow_detail {

  width: 200px;

  float: right;

  margin: 0;

  padding: 0;

}



.left_detail .borrow_up .borrow_detail span {

  width: 100%;

  float: left;

  color: #3e3e3e;

  font-size: 18px;

  font-weight: 400;

}



.left_detail .borrow_up .borrow_detail strong {

  width: 100%;

  float: left;

  color: #3e3e3e;

  font-size: 18px;

  font-weight: 700;

}



h5.list_tit {

  width: 100%;

  float: left;

  margin: 30px 0 10px;

  padding: 0;

  color: #3e3e3e;

  font-size: 18px;

  font-weight: 700;

}



ul.listing {

  list-style: none;

  margin: 0;

  padding: 0 0 10px 0;

  float: left;

  width: 100%;

  list-style: none;

}



ul.listing li {

  margin: 0;

  padding: 0 0 2px 20px;

  background: url(../images/bullet.png) left 7px no-repeat;

  font-size: 16px;

  line-height: 24px;

  color: #3e3e3e;

}



ul.listing li a {

  color: #3e3e3e;

  text-decoration: none;

}



ul.listing li a:hover {

  color: #0572aa;

  text-decoration: none;

}



.rate_part {

  padding: 40px 0 50px 0;

  background: #f9f9f9;

}



h2.ret_titel {

  width: 100%;

  padding: 16px 0 0;

  margin: 0;

  color: #0572aa;

  font-size: 30px;

  font-weight: 600;

  text-align: center;

}



.rate_part p {

  text-align: center;

  margin: 10px 0;

}



.heloc_part {

  padding: 60px 0;

  background: #0572aa;

}



h3.heloc_title {

  width: 100%;

  padding: 0 0 25px;

  margin: 0;

  color: #ffffff;

  font-size: 30px;

  font-weight: 600;

  text-align: center;

}



.heloc_part p {

  color: #fff;

  margin: 10px 0;

  font-size: 14px;

  line-height: 20px;

  text-align: center;

}



ul.hloc_box {

  width: 100%;

  float: left;

  margin: 0;

  padding: 0;

  list-style: none;

}



ul.hloc_box li {

  width: 33.33%;

  float: left;

  margin: 0 0 25px;

  padding: 0 2%;

  list-style: none;

  text-align: center;

}



ul.hloc_box li p {

  font-size: 18px;

  color: #fff;

  font-weight: 400;

  text-align: center;

}



/*===============

	Footer

===============*/



footer {

  width: 100%;

  float: left;

  margin: 0;

  padding: 60px 0 60px 0;

  background: #3e3e3e;

}



.lander_logo {

  width: 33%;

  float: left;

}



.logo_bbb {

  float: right;

  margin: 15px 0 0 0;

}



.ftr_phone {

  width: 33%;

  float: left;

  width: 34%;

  margin: 0;

  padding: 0 0 0 60px;

  background: #fff url(../images/icon_phone_red5.png) left center no-repeat;

  color: #0572aa;

  font-size: 40px;

  font-weight: 700;

  line-height: 80px;

  position: relative;

  /*left:50%; transform:translate(-50%,0);*/

}

.ftr_phone1 {

  width: 23%;

  float: left;

  width: 24%;

  margin: 0;

  padding: 0 0 0 145px;
  
  color: #0572aa;

  font-size: 25px;

  font-weight: 700;

  line-height: 30px;

  position: relative;

  /*left:50%; transform:translate(-50%,0);*/

}



.ftr_phone a {

  color: #0572aa;

  text-decoration: none;

}



.ftr_phone:before {

  content: '';

  position: absolute;

  left: -80px;

  top: 0;

  border: 40px solid;

  border-color: #fff #fff #fff transparent;

}



.ftr_phone:after {

  content: '';

  position: absolute;

  right: -80px;

  top: 0;

  border: 40px solid;

  border-color: #fff transparent #fff #fff;

}



.f_code {

  width: 100%;

  float: left;

  margin: 5px 0 0 0;

  padding: 0;

  font-size: 20px;

  color: #ffffff;

  text-align: center;

}



@media only screen and (max-width: 1200px) {

  .wrappen {

    width: 1000px;

  }

  a.logo {

    width: 260px;

  }

  .head_right {

    font-size: 36px;

    padding-left: 56px;

  }

  .head_right span {

    font-size: 16px;

  }

  .banner h1 {

    font-size: 33px;

  }

  .red_get {

    font-size: 46px;

  }

  .left_detail {

    width: 50%;

  }

  .left_detail .borrow_up .borrow_detail {

    width: 100%;

    margin-top: 8px;

  }

  .img_outer {

    background-position: 520px center !important;

  }

}



@media only screen and (max-width: 1024px) {

  .img_div {

    display: block;

  }

  .img_outer {

    background-position: 0 center !important;

    background: none !important;

  }

  .left_detail {

    width: 100%;

  }

  .banner {

    box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.20);

  }

}



@media only screen and (max-width: 1023px) {

  .wrappen {

    width: 750px;

  }

  .head_right span {

    width: 100%;

    float: left;

  }

  .banner {

    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.20);

  }

  .banner h1 {

    font-size: 26px;

    line-height: 30px;

  }

  .banner h5 {

    padding-top: 18px;

    font-size: 24px;

  }

  .red_get {

    font-size: 32px;

  }

  .left_detail {

    padding: 20px 0;

  }

  p {

    font-size: 17px;

    line-height: 24px;

  }

  .img_outer {

    background-position: 400px center !important;

  }

  .rate_part {

    padding: 30px 0;

  }

  h5.list_tit {

    margin-top: 15px;

  }

  h2.ret_titel {

    font-size: 26px;

  }

  .heloc_part {

    padding: 40px 0;

  }

  h3.heloc_title {

    font-size: 26px;

  }

  ul.hloc_box li p {

    font-size: 16px;

  }

  footer {

    padding: 40px 0 20px 0;

  }

  .ftr_phone {

    font-size: 30px;

    background-size: 30px auto;

    padding-left: 40px;

  }

  .banner .wrappen {

    min-height: 450px;

    overflow-y: auto;

  }

  .loan_t {

    width: 245px;

    padding: 0;

    margin: 0 auto;

    position: relative;

    top: 30px;

  }

  .loan_t .radiao1 {

    width: 120px;

    height: 120px;

    float: left;

  }

  .loan_t .radiao1 input[type='radio']+label {

    padding: 44px 60px;

    cursor: pointer;

    background: url(../images/icon_home_dark.png);

    background-size: 120px auto;

  }

  .loan_t .radiao1 input[type='radio']:checked+label {

    background: url(../images/icon_home_red.png);

    background-size: 120px auto;

  }

  .loan_t .radiao2 {

    width: 120px;

    height: 120px;

    float: left;

  }

  .loan_t .radiao2 input[type='radio']+label {

    padding: 44px 60px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 120px auto;

  }

  .loan_t .radiao2 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 120px auto;

  }

  .rd_name {

    top: 45px;

    font-size: 13px;

    line-height: 17px;

  }

  .next_btn {

    height: 40px;

    margin: 0 0 0 -65px;

    padding: 3px 45px 0 15px;

    background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

    font-size: 22px;

    color: #fff;

    font-weight: 600;

    border: none;

    border-radius: 30px;

    position: relative;

    text-align: left;

    font-family: 'Hind', sans-serif;

    top: 0;

    left: 50%;

    background-size: 30px auto;

  }

  .next_btn:hover {

    background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

    cursor: pointer;

    background-size: 30px auto;

  }

  .loan_t2 {

    width: 320px;

    padding: 0;

    margin: 0 auto;

    position: relative;

    top: 30px;

  }

  .loan_t2 .radiao1 {

    width: 120px;

    height: 120px;

    float: left;

  }

  .loan_t2 .radiao1 input[type='radio']+label {

    padding: 44px 60px;

    cursor: pointer;

    background: url(../images/icon_home_dark.png);

    background-size: 120px auto;

  }

  .loan_t2 .radiao1 input[type='radio']:checked+label {

    background: url(../images/icon_home_red.png);

    background-size: 120px auto;

  }

  .loan_t2 .radiao2 {

    width: 120px;

    height: 120px;

    float: left;

  }

  .loan_t2 .radiao2 input[type='radio']+label {

    padding: 44px 60px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 120px auto;

  }

  .loan_t2 .radiao2 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 120px auto;

  }

  .loan_t2 .radiao3 {

    width: 120px;

    height: 120px;

    float: left;

  }

  .loan_t2 .radiao3 input[type='radio']+label {

    padding: 44px 60px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 120px auto;

  }

  .loan_t2 .radiao3 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 120px auto;

  }

  .loan_t2 .radiao4 {

    width: 120px;

    height: 120px;

    float: left;

  }

  .loan_t2 .radiao4 input[type='radio']+label {

    padding: 44px 60px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 120px auto;

  }

  .loan_t2 .radiao4 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 120px auto;

  }

  .loan_t2 .radiao5 {

    width: 120px;

    height: 120px;

    float: left;

  }

  .loan_t2 .radiao5 input[type='radio']+label {

    padding: 44px 60px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 120px auto;

  }

  .loan_t2 .radiao5 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 120px auto;

  }

  .next_btn2 {

    height: 40px;

    margin: 0 0 0 -65px;

    padding: 3px 45px 0 15px;

    background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

    font-size: 22px;

    color: #fff;

    font-weight: 600;

    border: none;

    border-radius: 30px;

    position: relative;

    text-align: left;

    font-family: 'Hind', sans-serif;

    top: 0;

    left: 50%;

    background-size: 30px auto;

  }

  .next_btn2:hover {

    background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

    cursor: pointer;

    background-size: 30px auto;

  }

  .loan_t3 {

    width: 320px;

    padding: 0;

    margin: 0 auto;

    position: relative;

    top: 30px;

  }

  .loan_t3 .radiao6 {

    width: 120px;

    height: 120px;

    float: left;

  }

  .loan_t3 .radiao6 input[type='radio']+label {

    padding: 44px 60px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 120px auto;

  }

  .loan_t3 .radiao6 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 120px auto;

  }

  .loan_t3 .radiao7 {

    width: 120px;

    height: 120px;

    float: left;

  }

  .loan_t3 .radiao7 input[type='radio']+label {

    padding: 44px 60px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 120px auto;

  }

  .loan_t3 .radiao7 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 120px auto;

  }

  .loan_t3 .radiao8 {

    width: 120px;

    height: 120px;

    float: left;

  }

  .loan_t3 .radiao8 input[type='radio']+label {

    padding: 44px 60px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 120px auto;

  }

  .loan_t3 .radiao8 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 120px auto;

  }

  .next_btn3 {

    height: 40px;

    margin: 0 0 0 -65px;

    padding: 3px 45px 0 15px;

    background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

    font-size: 22px;

    color: #fff;

    font-weight: 600;

    border: none;

    border-radius: 30px;

    position: relative;

    text-align: left;

    font-family: 'Hind', sans-serif;

    top: 0;

    left: 50%;

    background-size: 30px auto;

  }

  .next_btn3:hover {

    background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

    cursor: pointer;

    background-size: 30px auto;

  }

  .next_btn4 {

    height: 40px;

    margin: 0 0 0 -65px;

    padding: 3px 45px 0 15px;

    background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

    font-size: 22px;

    color: #fff;

    font-weight: 600;

    border: none;

    border-radius: 30px;

    position: relative;

    text-align: left;

    font-family: 'Hind', sans-serif;

    top: 0;

    left: 50%;

    background-size: 30px auto;

  }

  .next_btn4:hover {

    background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

    cursor: pointer;

    background-size: 30px auto;

  }

  .next_btn5 {

    height: 40px;

    margin: 0 0 0 -65px;

    padding: 3px 45px 0 15px;

    background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

    font-size: 22px;

    color: #fff;

    font-weight: 600;

    border: none;

    border-radius: 30px;

    position: relative;

    text-align: left;

    font-family: 'Hind', sans-serif;

    top: 0;

    left: 50%;

    background-size: 30px auto;

  }

  .next_btn5:hover {

    background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

    cursor: pointer;

    background-size: 30px auto;

  }

}



@media screen and (max-width: 767px) {

  .wrappen {

    width: 580px;

  }

  header {

    height: 60px;

  }

  header:before {

    border: 30px solid;

    border-color: #0572aa #0572aa #0572aa transparent;

  }

  a.logo {

    width: 235px;

    margin-top: 13px;

  }

  .head_right {

    width: 280px;

    font-size: 34px;

    background-size: 27px auto;

    padding-left: 40px;

    margin-top: 19px;

    line-height: 28px;

  }

  .head_right span {

    font-size: 14px;

  }

  .banner {

    padding: 25px 0 60px 0;

  }

  .banner h1 {

    font-size: 20px;

  }

  .banner h1:after {

    width: 50px;

    margin-left: -25px;

    height: 3px;

  }

  .banner h5 {

    font-size: 20px;

    padding-top: 15px;

  }

  .red_get {

    font-size: 24px;

    padding: 10px 0;

  }

  .left_detail {

    padding: 10px 0;

  }

  p {

    font-size: 15px;

    line-height: 20px;

  }

  .left_detail .borrow_up .borrow_detail span {

    font-size: 16px;

  }

  .left_detail .borrow_up .borrow_detail strong {

    font-size: 16px;

  }

  h5.list_tit {

    font-size: 16px;

    margin: 8px 0 3px 0;

  }

  ul.listing li {

    font-size: 15px;

    padding-bottom: 5px;

    line-height: 18px;

  }

  .img_outer {

    background-position: 310px center !important;

  }

  h2.ret_titel {

    font-size: 22px;

    padding: 0;

  }

  .rate_part p {

    margin-top: 0

  }

  .heloc_part {

    padding: 30px 0;

  }

  h3.heloc_title {

    font-size: 20px;

    padding-bottom: 10px;

  }

  ul.hloc_box li {

    margin-bottom: 10px;

  }

  ul.hloc_box li img {

    width: auto;

    height: 60px;

  }

  footer {

    padding: 25px 0 15px;

  }

  .lander_logo img {

    width: 50px;

  }

  .logo_bbb {

    margin-top: 5px;

  }

  .logo_bbb img {

    width: 100px;

  }

  .ftr_phone {

    line-height: 50px;

    font-size: 22px;

    background-size: 24px auto;

  }

  .ftr_phone:before {

    left: -50px;

    top: 0;

    border: 25px solid;

    border-color: #fff #fff #fff transparent;

  }

  .ftr_phone:after {

    right: -50px;

    top: 0;

    border: 25px solid;

    border-color: #fff transparent #fff #fff;

  }

  .f_code {

    font-size: 16px;

  }

  .banner h1 {

    margin-bottom: 20px;

  }

  .banner .wrappen {

    min-height: 450px;

    overflow-y: auto;

  }

  .loan_t {

    width: 120px;

    padding: 0;

    margin: 0 auto;

    position: relative;

    top: 0;

  }

  .loan_t .radiao1 {

    width: 60px;

    height: 60px;

  }

  .loan_t .radiao1 input[type='radio']+label {

    padding: 14px 31px;

    cursor: pointer;

    background-size: 60px auto;

  }

  .loan_t .radiao1 input[type='radio']:checked+label {

    background-size: 60px auto;

  }

  .loan_t .radiao2 {

    width: 60px;

    height: 60px;

    float: left;

  }

  .loan_t .radiao2 input[type='radio']+label {

    padding: 14px 31px;

    cursor: pointer;

    background-size: 60px auto;

  }

  .loan_t .radiao2 input[type='radio']:checked+label {

    background-size: 60px auto;

  }

  .rd_name {

    top: 20px;

    font-size: 10px;

    line-height: 12px;

  }

  .next_btn {

    height: 40px;

    margin: 0 0 0 -60px;

    padding: 3px 45px 0 15px;

    background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

    font-size: 22px;

    color: #fff;

    font-weight: 600;

    border: none;

    border-radius: 30px;

    position: relative;

    text-align: left;

    font-family: 'Hind', sans-serif;

    top: 50px;

    left: 50%;

    background-size: 30px auto;

  }

  .next_btn:hover {

    background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

    cursor: pointer;

    background-size: 30px auto;

  }

  .loan_t2 {

    width: 320px;

    padding: 0;

    margin: 0 auto;

    position: relative;

    top: 30px;

  }

  .loan_t2 .radiao1 {

    width: 60px;

    height: 60px;

    float: left;

  }

  .loan_t2 .radiao1 input[type='radio']+label {

    padding: 14px 31px;

    cursor: pointer;

    background-size: 60px auto;

  }

  .loan_t2 .radiao1 input[type='radio']:checked+label {

    background-size: 60px auto;

  }

  .loan_t2 .radiao2 {

    width: 60px;

    height: 60px;

    float: left;

  }

  .loan_t2 .radiao2 input[type='radio']+label {

    padding: 14px 31px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 60px auto;

  }

  .loan_t2 .radiao2 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 60px auto;

  }

  .loan_t2 .radiao3 {

    width: 60px;

    height: 60px;

    float: left;

  }

  .loan_t2 .radiao3 input[type='radio']+label {

    padding: 14px 31px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 60px auto;

  }

  .loan_t2 .radiao3 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 60px auto;

  }

  .loan_t2 .radiao4 {

    width: 60px;

    height: 60px;

    float: left;

  }

  .loan_t2 .radiao4 input[type='radio']+label {

    padding: 14px 31px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 60px auto;

  }

  .loan_t2 .radiao4 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 60px auto;

  }

  .loan_t2 .radiao5 {

    width: 60px;

    height: 60px;

    float: left;

  }

  .loan_t2 .radiao5 input[type='radio']+label {

    padding: 14px 31px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 60px auto;

  }

  .loan_t2 .radiao5 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 60px auto;

  }

  .next_btn2 {

    height: 40px;

    margin: 0 0 0 -60px;

    padding: 3px 45px 0 15px;

    background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

    font-size: 22px;

    color: #fff;

    font-weight: 600;

    border: none;

    border-radius: 30px;

    position: relative;

    text-align: left;

    font-family: 'Hind', sans-serif;

    top: 50px;

    left: 50%;

    background-size: 30px auto;

  }

  .next_btn2:hover {

    background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

    cursor: pointer;

    background-size: 30px auto;

  }

  .loan_t3 {

    width: 180px;

    padding: 0;

    margin: 0 auto;

    position: relative;

    top: 30px;

  }

  .loan_t3 .radiao6 {

    width: 60px;

    height: 60px;

    float: left;

  }

  .loan_t3 .radiao6 input[type='radio']+label {

    padding: 14px 31px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 60px auto;

  }

  .loan_t3 .radiao6 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 60px auto;

  }

  .loan_t3 .radiao7 {

    width: 60px;

    height: 60px;

    float: left;

  }

  .loan_t3 .radiao7 input[type='radio']+label {

    padding: 14px 31px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 60px auto;

  }

  .loan_t3 .radiao7 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 60px auto;

  }

  .loan_t3 .radiao8 {

    width: 60px;

    height: 60px;

    float: left;

  }

  .loan_t3 .radiao8 input[type='radio']+label {

    padding: 14px 31px;

    cursor: pointer;

    background: url(../images/icon_sale_dark.png);

    background-size: 60px auto;

  }

  .loan_t3 .radiao8 input[type='radio']:checked+label {

    background: url(../images/icon_sale_red.png);

    background-size: 60px auto;

  }

  .next_btn3 {

    height: 40px;

    margin: 0 0 0 -60px;

    padding: 3px 45px 0 15px;

    background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

    font-size: 22px;

    color: #fff;

    font-weight: 600;

    border: none;

    border-radius: 30px;

    position: relative;

    text-align: left;

    font-family: 'Hind', sans-serif;

    top: 50px;

    left: 50%;

    background-size: 30px auto;

  }

  .next_btn3:hover {

    background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

    cursor: pointer;

    background-size: 30px auto;

  }

  .next_btn4 {

    height: 40px;

    margin: 0 0 0 -65px;

    padding: 3px 45px 0 15px;

    background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

    font-size: 22px;

    color: #fff;

    font-weight: 600;

    border: none;

    border-radius: 30px;

    position: relative;

    text-align: left;

    font-family: 'Hind', sans-serif;

    top: 0;

    left: 50%;

    background-size: 30px auto;

  }

  .next_btn4:hover {

    background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

    cursor: pointer;

    background-size: 30px auto;

  }

  .next_btn5 {

    height: 40px;

    margin: 0 0 0 -60px;

    padding: 3px 45px 0 15px;

    background: #0572aa url(../images/arrow_btn.png) 95% center no-repeat;

    font-size: 22px;

    color: #fff;

    font-weight: 600;

    border: none;

    border-radius: 30px;

    position: relative;

    text-align: left;

    font-family: 'Hind', sans-serif;

    top: 50px;

    left: 50%;

    background-size: 30px auto;

  }

  .next_btn5:hover {

    background: #3e3e3e url(../images/arrow_btn.png) 95% center no-repeat;

    cursor: pointer;

    background-size: 30px auto;

  }

  .loan_t4 {

    width: 320px;

    padding: 0;

    margin: 0 auto;

    position: relative;

    top: 30px;

  }

  .step_input {

    width: 100%;

    float: left;

    margin: 0 0 50px;

    padding: 0;

    border: 1px solid #ddd;

    border-radius: 4px;

    height: 32px;

    line-height: 32px;

    background: #fff;

    font-size: 16px;

    text-align: center;

  }

  .slie_btn {

    width: 100%;

    float: left;

    height: 40px;

    line-height: 40px;

    margin: 0 0 10px 0;

    padding: 0 20px;

    background: #0572aa url(../images/arrow_2.png) 95% center no-repeat;

    font-size: 18px;

    color: #fff;

    font-weight: 400;

    border: none;

    border-radius: 3px;

    position: relative;

    text-align: center;

    font-family: 'Hind', sans-serif;

    top: 0;

    left: 0%;

  }

  .slie_btn:hover {

    background: #3e3e3e url(../images/arrow_2.png) 95% center no-repeat;

    cursor: pointer;

  }

}



@media only screen and (max-width: 599px) {

  .wrappen {

    width: 460px;

  }

  a.logo {

    width: 185px;

    margin-top: 16px;

    margin-left: 0;

  }

  .head_right {

    font-size: 25px;

    width: 203px;

    background-size: 20px auto;

    padding-left: 30px;

    background-position: 0 3px;

    margin-top: 18px;

  }

  .head_right span {

    font-size: 13px;

  }

  .banner {

    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.20);

  }

  .banner h1 {

    font-size: 18px;

    line-height: 22px;

  }

  .red_get {

    font-size: 20px;

    padding: 6px 0;

  }

  p {

    font-size: 14px;

    line-height: 18px;

  }

  .left_detail .borrow_up .borrow_detail span {

    font-size: 14px;

  }

  .left_detail .borrow_up .borrow_detail strong {

    font-size: 14px;

  }

  ul.listing li {

    font-size: 14px;

    line-height: 16px;

  }

  .img_outer {

    background-position: 250px center !important;

  }

  .rate_part {

    padding: 20px 0;

  }

  h2.ret_titel {

    font-size: 20px;

  }

  ul.hloc_box li img {

    height: 45px;

  }

  .heloc_part {

    padding: 20px 0;

  }

  ul.hloc_box li p {

    font-size: 14px;

    line-height: 17px;

    margin-top: 0;

  }

  .heloc_part p {

    font-size: 13px;

  }

  footer {

    padding: 20px 0 10px;

  }

  .lander_logo img {

    width: 40px;

  }

  .logo_bbb {

    margin-top: 5px;

  }

  .logo_bbb img {

    width: 80px;

  }

  .ftr_phone {

    line-height: 40px;

    font-size: 18px;

    background-size: 20px auto;

    padding-left: 25px;

  }

  .ftr_phone:before {

    left: -40px;

    top: 0;

    border: 20px solid;

    border-color: #fff #fff #fff transparent;

  }

  .ftr_phone:after {

    right: -40px;

    top: 0;

    border: 20px solid;

    border-color: #fff transparent #fff #fff;

  }

  .f_code {

    font-size: 14px;

  }

}



@media only screen and (max-width: 479px) {

  .wrappen {

    width: 360px;

  }

  a.logo {

    width: 150px;

    margin-top: 20px;

    margin-left: -15px;

  }

  .head_right {

    font-size: 22px;

    width: 180px;

    background-size: 20px auto;

    padding-left: 25px;

    background-position: 0 3px;

    margin-top: 17px;

  }

  .head_right span {

    font-size: 10px;

    line-height: 14px;

  }

  .banner {

    padding: 20px 0 50px 0;

  }

  .banner h1 {

    font-size: 18px;

    line-height: 22px;

  }

  .banner h5 {

    font-size: 18px;

    padding: 6px 0;

  }

  .red_get {

    font-size: 16px;

    padding: 6px 0;

  }

  p {

    font-size: 14px;

    line-height: 18px;

  }

  .left_detail {

    width: 100%;

  }

  .img_outer {

    background-position: 0 center !important;

    background: none !important;

  }

  /*sunny Date 29/11/2017 */

  /*sunny Date 29/11/2017 */

  ul.hloc_box li {

    width: 100%;

  }

  .lander_logo {

    width: 100%;

    text-align: center;

  }

  .logo_bbb {

    width: 100%;

    text-align: center;

    margin-top: 5px;

  }

  .ftr_phone {

    width: 44%;

    margin: 10px 28%;

    line-height: 40px;

    font-size: 18px;

    background-size: 20px auto;

    padding-left: 25px;

  }

}



@media only screen and (max-width: 374px) {

  .wrappen {

    width: 305px;

  }

  .head_right {

    font-size: 18px;

    width: 152px;

    background-size: 18px auto;

    padding-left: 25px;

    background-position: 0 3px;

    margin-top: 18px;

    margin-right: -10px;

  }

  .head_right span {

    font-size: 10px;

    line-height: 14px;

  }

  .red_get {

    font-size: 15px;

    padding: 6px 0;

  }

  .ftr_phone {

    width: 50%;

    margin: 10px 25%;

    line-height: 40px;

    font-size: 18px;

    background-size: 20px auto;

    padding-left: 25px;

  }

}



/* media sunny  */



/* iphome5*/



.next_btn, .next_btn1, .next_btn2, .next_btn3, .next_btn4, .next_btn5, .next_btn6, .next_btn7, .next_btn8, .next_btn9, .next_btn10 {

  left: 46% !important;

}



/* iphone6 */



/* media sunny end  */



.slider {

  margin-top: 20px;

}



.loan_t4 input.step_input {

  margin: 0 0 23px;

}



.loan_t5 {

  width: 296px !important;

}



.pos {

  margin-bottom: 92px !important;

  position: relative !important;

}



.next_btn, .next_btn1, .next_btn2, .next_btn3, .next_btn4, .next_btn5, .next_btn6, .next_btn7, .next_btn8, .next_btn9, .next_btn10 {

  left: 0% !important;

  margin: 0 auto;

  width: 100%;

}



.slie_btn1 {

  line-height: 50px;

  margin: 0 0 10px 0;

  padding: 0 20px;

  background: #352d60 url(../images/arrow_2.png) 95% center no-repeat;

  font-size: 24px;

  color: #fff;

  font-weight: 400;

  border: none;

  border-radius: 3px;

  position: relative;

  text-align: left;

  font-family: 'Hind', sans-serif;

  top: 0;

  left: 0%;

}



.step_input2 {

  width: 33%;

  float: left;

  margin: 0 0 50px;

  padding: 0;

  border: 1px solid #ddd;

  border-radius: 4px;

  height: 50px;

  line-height: 50px;

  background: #fff;

  font-size: 20px;

  text-align: center;

}



.next_btn6 {

  padding: 3px 62px 0 30px !important;

}



.loan_t5 input[type="date"] {

  width: 100%;

  height: 50px;

  padding: 4px 0;

  font-size: 27px;

  color: #757575;

}



@media screen and (max-width: 767px) {

  .loan_t5 input, .loan_t5 select {

    height: 40px;

    font-size: 22px;

  }

  .loan_t5 input[type="date"] {

    height: 40px;

    font-size: 22px;

  }

  .next_btn7 {

    height: 40px;

    background-size: 30px auto;

  }



}



.weight-scale .step_input {

  width: 70%;

}



.weight-scale select.step_input {

  width: 26%;

  margin-left: 10px;

  font-size: 18px;

  padding-left: 10px;

  padding-top: 2px;

  font-size: 18px;

}



.select-height select.step_input {

  margin-bottom: 30px;

  padding: 0 7px;

}



.b_stap6 a.next_btn6 {

  margin-bottom: 15px;

}



.next_btn6 {

  text-decoration: none;

}



.modal-header h4 {

  text-align: center;

  padding-top: 17px;

}



.modal-content p,.modal-content ul li {



  font-size: 16px;

  line-height: 23px;

}

.modal-content p{

  margin-top: 0;

}

.modal-content h4,.modal-header h4{

  font-weight: 600;

}



@media (min-width:768px){

  .modal-content p,.modal-content ul li {



    font-size: 18px;

    line-height: 24px;

  }

}





.multi-select,

.multi-select-options,

input[type=text],

input[type=tel] {

  background: #fff;

  width: 100%;

}

.multi-select {

  display: block;

  position: relative;

  line-height: 35px;

  border: 1px solid #ddd;

  margin: 0 0 50px;

  padding: 0;

  height: 35px;

}

.multi-select input[type=checkbox],

.multi-select input[type=radio] {

  display: none;

}

.multi-select label {

  margin: 0;

  padding: 0;

}

.multi-select .toggle-open {

  display: block;

  font-size: 1em;

  font-weight: bold;

  padding: 0 10px;

  height: 35px;

  width: 100%;

  cursor: pointer;

  position: absolute;

}

.multi-select .toggle-open:after {

  clear: both;

  display: block;

  position: absolute;

  top: 12px;

  right: 10px;

  content: "";

  height: 0;

  width: 0;

  padding: 0;

  margin: 0 auto;

  border: 8px solid transparent;

  border-top-color: #000;

}

.multi-select-options {

  position: absolute;

  top: 35px;

  left: 0;

  list-style: none;

  margin: 0;

  padding: 0;

  overflow: auto;

  border-bottom: 1px solid #ddd;

  height: 140px;

  z-index: 999;

}

.multi-select-options > li:first-child span {

  border-top: 1px solid #ddd;

}

.multi-select-options > li span {

  display: none;



  width: auto;

  padding: 7px 10px 3px;

  background: #f3f3f3;

  border: 1px solid #ddd;

  border-top: 0;

  cursor: pointer;

}

.multi-select-options > li span:after {

  content: "\002B";

  display: inline-block;

  font-size: 1.5em;

  font-weight: bold;

  position: absolute;

  right: 10px;

  z-index: 99;

}

.multi-select-options > li span:hover {

  background: #d7d7d7;

}

.multi-select-options > li input[type=checkbox]:checked + span {

  background: #b8eaa5;

  font-weight: bold;

}

.multi-select-options > li input[type=checkbox]:checked + span:after {

  content: "\2212";

  font-size: 1.3em;

}

#toggle-open:checked ~ .multi-select-options {

  height: 200px;

}

#toggle-open:checked ~ .multi-select-options label,

#toggle-open:checked ~ .multi-select-options span {

  display: block;

}

#toggle-open:not(:checked) ~ .multi-select-options {

  display: block;

  background: none;

  border: none;

  padding: 5px 0;

}

#toggle-open:not(:checked) ~ .multi-select-options input[type=checkbox]:checked + span {

  display: inline-block;

  float: left;

  margin: 0 10px 10px 0;

  padding: 0px 10px;

  width: auto;

  position: inherit;

  top: 0;

  border-top: 1px solid #ddd;

}

#toggle-open:not(:checked) ~ .multi-select-options input[type=checkbox]:checked + span:before {

  content: '\2A09';

  padding: 0 5px 0 0;

}

#toggle-open:not(:checked) ~ .multi-select-options input[type=checkbox]:checked + span:after {

  content: '';

  position: inherit;

}

